@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

* {
    background-color: rgb(20, 27, 41);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Pixelify Sans;
        color: white;
}
.main{
    padding: 10px;
    margin: 20%;
    text-align: center;
}

.crc{
    padding: 5px;
    border: 1;
    border-radius: 100px;
    width: 80px;
}

.members{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    height: 60px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imgcen{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.menuicon{
    display: none;
    margin: 10px;
    padding: 10px;
}
li,
a {
    padding-left: 15px;
    align-items: center;
    font-family: Pixelify Sans;
    color: white;
    text-decoration: none;
}

.nav_links {
    list-style: none;
    display: inline-flex;
    margin-bottom: 16px;
}

.nav_links li a:hover {
    color:#68e8e6;
}
.logo:hover{
    
}
.foot{
    margin: 10px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
    text-align: center;
}

.nav_links li {
    margin-top: 25px;
    text-align: center;
    display: inline-block;
    padding: 5px;
}
.nav_links_moble{
    list-style: none;
    text-align: center;
    display: none;
    margin-bottom: 16px;
}
.nav_links_moble li a:hover {
    color: rgb(94, 232, 124);
}

.nav_links_moble li a {
    transition: all 0.3s ease 0s;
}

.nav_links_moble li {
    margin-top: 25px;
    display: block;
    text-align: center;
    padding: 5px;
}
@media only screen and (max-width : 600px) {
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .head{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }   
    .menuicon {
            display: inline-flex;
            margin-top: 0px;
        }
    .nav_links{
            display: none;
            text-align: center;
            padding: 10px;
        }
    
}